<!DOCTYPE HTML>
<html lang="zh">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>

<title>Policy Cleaner</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">

</head>

<body>

<body>

<h1 class="center">Policy Cleaner</h1>

<div class="container">

    <table class="table table-bordered" id="policies">
        <thead>
          <tr>
            <th>Policy Name</th>
            <th>Createion time</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>

        <% policies.forEach(function(policy){ %>

            <tr>

            <td>
                <%= policy.policyName %>
            </td>
            <td>
                <%= policy.createDate %>
            </td>

            <td>
                <input type="checkbox" name="policies[]" value="<%= policy.policyArn %>">
            </td>

        </tr>

    <% }); %>
        </tbody>
    </table>

    <br>

    <div class="center">

        <button class="btn btn-danger" id="button-clean">Clean</a>

    </div>

</div>

<br><br><br>

<footer class="footer">
    <div class="container">
        <p class="text-muted center">Make by Mr.Twister</p>
    </div>
</footer>

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"> </script>

<script>

$(document).ready(function(){
        $('#policies').DataTable();
        });

        $("#button-clean").click(function() {

      			var vals = [];

      			$('input:checkbox[name="policies[]"]').each(function() {
      				if (this.checked) {
      					vals.push(this.value);
                        }});
                
                $.ajax({
      				type: 'POST',
      				url: "/delete",
      				data: {
      					'policies': vals,
      				},
      				success: function() {
      					$(document).ajaxStop(function(){
      						window.location.reload();
      					});
      				},
      				error: function(xhr, status, error) {
                    console.log(xhr.responseText);
      				}
      			});
      		});

</script>

</body>

</html>
