<!DOCTYPE HTML>
<html lang="zh">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>

<title>Policy Cleaner</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/custom.css">

</head>

<body>

<body>

<h1 class="center">Policy Cleaner</h1>

<div class="container">

    Type:

    <select>
        <option>All</option>
        <option>AWS</option>
        <option>Local</option>
    </select>

    <br><br><br>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Policy Name</th>
            <th>Createion time</th>
            <th>Edited Time</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Test</td>
            <td>2016-02-16</td>
            <td>2016-02-16</td>
            <td><input type="checkbox" name="myTextEditBox"></td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>2016-02-16</td>
            <td>2016-02-16</td>
            <td><input type="checkbox" name="myTextEditBox"></td>
          </tr>
          <tr>
            <td>July</td>
            <td>2016-02-16</td>
            <td>2016-02-16</td>
            <td><input type="checkbox" name="myTextEditBox"></td>
          </tr>
        </tbody>
    </table>

    <br>

    <div class="center">

        Clear All &nbsp;&nbsp; <input type="checkbox" id="clear-all" > 

        <br><br><br>

        <a class="btn btn-danger" href="/clear">Clean</a>

    </div>

  </div>

<footer class="footer">
    <div class="container">
        <p class="text-muted center">Make by Mr.Twister</p>
    </div>
</footer>

<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

</body>

</html>

</body>


</html>
